js_scripts/anaf/declaratii/D112/d112_15022023.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="https://stefanache.github.io/MFP-ANAF-RO/xs3p.xsl"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="mfp:anaf:dgti:declaratie_unica:declaratie:v6"
	targetNamespace="mfp:anaf:dgti:declaratie_unica:declaratie:v6" elementFormDefault="qualified"
	attributeFormDefault="unqualified" version="1.02" xml:lang="ro">
	<xs:element name="declaratieUnica" type="DeclaratieUnicaType"/>
	<xs:complexType name="DeclaratieUnicaType">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:sequence>
					<xs:element name="angajator" type="AngajatorType"/>
					<xs:element name="asigurat" type="AsiguratType" minOccurs="0"
						maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="luna_r" type="IntInt1_12SType" use="required"/>
				<xs:attribute name="an_r" type="IntInt2011_2100SType" use="required"/>
				<xs:attribute name="d_rec" type="IntInt0_1SType"/>
				<xs:attribute name="tip_rec" type="IntInt1_3SType"/>
				<xs:attribute name="nume_declar" type="Str75" use="required"/>
				<xs:attribute name="prenume_declar" type="Str75" use="required"/>
				<xs:attribute name="functie_declar" type="Str50" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AngajatorType">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:sequence>
					<xs:element name="angajatorA" type="AngajatorAType" maxOccurs="29"/>
					<xs:element name="angajatorB" type="AngajatorBType"/>
					<xs:element name="angajatorC1" type="AngajatorC1Type" minOccurs="0"/>
					<xs:element name="angajatorC2" type="AngajatorC2Type" minOccurs="0"/>
					<xs:element name="angajatorC3" type="AngajatorC3Type" minOccurs="0"/>
					<xs:element name="angajatorC4" type="AngajatorC4Type" minOccurs="0"/>
					<xs:element name="angajatorC5" type="AngajatorC5Type" minOccurs="0"/>
					<xs:element name="angajatorD" type="AngajatorDType" minOccurs="0"/>
					<xs:element name="angajatorE1" type="AngajatorE1Type" minOccurs="0"/>
					<xs:element name="angajatorE2" type="AngajatorE2Type" minOccurs="0"/>
					<xs:element name="angajatorE3" type="AngajatorE3Type" minOccurs="0"/>
					<xs:element name="angajatorE4" type="AngajatorE4Type" minOccurs="0"/>
					<xs:group ref="GrupFGroup" minOccurs="0"/>
					<xs:element name="angajatorG" type="AngajatorGType" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="cif" type="CifSType" use="required"/>
				<xs:attribute name="cifS" type="CifSType"/>
				<xs:attribute name="rgCom" type="Str14"/>
				<xs:attribute name="caen" type="Str_caenListSType" use="required"/>
				<xs:attribute name="den" type="Str200" use="required"/>
				<xs:attribute name="adrSoc" type="Str1000"/>
				<xs:attribute name="telSoc" type="Str15"/>
				<xs:attribute name="faxSoc" type="Str15"/>
				<xs:attribute name="mailSoc" type="Str200"/>
				<xs:attribute name="adrFisc" type="Str1000"/>
				<xs:attribute name="telFisc" type="Str15"/>
				<xs:attribute name="faxFisc" type="Str15"/>
				<xs:attribute name="mailFisc" type="Str200"/>
				<xs:attribute name="casaAng" type="Str_casaAngListSType" use="required"/>
				<xs:attribute name="datCAM" type="IntInt0_1SType" use="required"/>
				<xs:attribute name="cifAf1" type="IntPoz15SType"/>
				<xs:attribute name="cifAf2" type="IntPoz15SType"/>
				<xs:attribute name="pond1" type="DblPoz6_2SType"/>
				<xs:attribute name="bifa_CAM" type="IntInt0_1SType" use="required"/>
				<xs:attribute name="totalPlata_A" type="IntPoz15SType" use="required"/>
				<xs:attribute name="caenC" type="Str_caenListConstrType"/>
				<xs:attribute name="cifAf1_a" type="IntPoz15SType"/>
				<xs:attribute name="cifAf2_a" type="IntPoz15SType"/>
				<xs:attribute name="pond1_a" type="DblPoz6_2SType"/>
				<xs:attribute name="bifa_AgCon" type="IntInt1_1SType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AngajatorAType">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="A_codBugetar" type="Str_A_codBugetarListSType" use="required"/>
				<xs:attribute name="A_codOblig" type="Str_A_cod_obligListSType" use="required"/>
				<xs:attribute name="A_datorat" type="IntPoz15SType" use="required"/>
				<xs:attribute name="A_deductibil" type="IntPoz15SType"/>
				<xs:attribute name="A_scutit" type="IntPoz15SType" use="required"/>
				<xs:attribute name="A_plata" type="IntPoz15SType" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AngajatorBType">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="B_cnp" type="IntPoz6SType" use="required"/>
				<xs:attribute name="B_sanatate" type="IntPoz6SType" use="required"/>
				<xs:attribute name="B_pensie" type="IntPoz5SType" use="required"/>
				<xs:attribute name="B_brutSalarii" type="IntPoz15SType" use="required"/>
				<xs:attribute name="B_sal" type="IntPoz5SType" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AngajatorC1Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="C1_11" type="IntPoz15SType"/>
				<xs:attribute name="C1_12" type="IntPoz15SType"/>
				<xs:attribute name="C1_13" type="IntPoz15SType"/>
				<xs:attribute name="C1_21" type="IntPoz15SType"/>
				<xs:attribute name="C1_22" type="IntPoz15SType"/>
				<xs:attribute name="C1_23" type="IntPoz15SType"/>
				<xs:attribute name="C1_31" type="IntPoz15SType"/>
				<xs:attribute name="C1_32" type="IntPoz15SType"/>
				<xs:attribute name="C1_33" type="IntPoz15SType"/>
				<xs:attribute name="C1_T1" type="IntPoz15SType"/>
				<xs:attribute name="C1_T2" type="IntPoz15SType"/>
				<xs:attribute name="C1_T" type="IntPoz15SType"/>
				<xs:attribute name="C1_T3" type="IntPoz15SType"/>
				<xs:attribute name="C1_5" type="IntPoz15SType"/>
				<xs:attribute name="C1_7" type="IntPoz15SType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AngajatorC2Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="C2_11" type="IntPoz6SType"/>
				<xs:attribute name="C2_12" type="IntPoz5SType"/>
				<xs:attribute name="C2_13" type="IntPoz5SType"/>
				<xs:attribute name="C2_14" type="IntPoz5SType"/>
				<xs:attribute name="C2_15" type="IntPoz15SType"/>
				<xs:attribute name="C2_16" type="IntPoz15SType"/>
				<xs:attribute name="C2_21" type="IntPoz6SType"/>
				<xs:attribute name="C2_22" type="IntPoz5SType"/>
				<xs:attribute name="C2_24" type="IntPoz5SType"/>
				<xs:attribute name="C2_26" type="IntPoz15SType"/>
				<xs:attribute name="C2_31" type="IntPoz6SType"/>
				<xs:attribute name="C2_32" type="IntPoz5SType"/>
				<xs:attribute name="C2_34" type="IntPoz5SType"/>
				<xs:attribute name="C2_36" type="IntPoz15SType"/>
				<xs:attribute name="C2_41" type="IntPoz6SType"/>
				<xs:attribute name="C2_42" type="IntPoz5SType"/>
				<xs:attribute name="C2_44" type="IntPoz5SType"/>
				<xs:attribute name="C2_46" type="IntPoz15SType"/>
				<xs:attribute name="C2_51" type="IntPoz6SType"/>
				<xs:attribute name="C2_52" type="IntPoz5SType"/>
				<xs:attribute name="C2_54" type="IntPoz5SType"/>
				<xs:attribute name="C2_56" type="IntPoz15SType"/>
				<xs:attribute name="C2_T6" type="IntPoz15SType"/>
				<xs:attribute name="C2_10" type="IntPoz15SType"/>
				<xs:attribute name="C2_140" type="IntPoz15SType"/>
				<xs:attribute name="C2_111" type="IntPoz6SType"/>
				<xs:attribute name="C2_112" type="IntPoz5SType"/>
				<xs:attribute name="C2_113" type="IntPoz5SType"/>
				<xs:attribute name="C2_114" type="IntPoz5SType"/>
				<xs:attribute name="C2_115" type="IntPoz15SType"/>
				<xs:attribute name="C2_116" type="IntPoz15SType"/>
				<xs:attribute name="C2_23" type="IntPoz5SType"/>
				<xs:attribute name="C2_25" type="IntPoz15SType"/>
				<xs:attribute name="C2_211" type="IntPoz6SType"/>
				<xs:attribute name="C2_212" type="IntPoz5SType"/>
				<xs:attribute name="C2_213" type="IntPoz5SType"/>
				<xs:attribute name="C2_214" type="IntPoz5SType"/>
				<xs:attribute name="C2_215" type="IntPoz15SType"/>
				<xs:attribute name="C2_216" type="IntPoz15SType"/>
				<xs:attribute name="C2_41a" type="IntPoz6SType"/>
				<xs:attribute name="C2_42a" type="IntPoz5SType"/>
				<xs:attribute name="C2_44a" type="IntPoz5SType"/>
				<xs:attribute name="C2_46a" type="IntPoz15SType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AngajatorC3Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="C3_11" type="IntPoz6SType"/>
				<xs:attribute name="C3_12" type="IntPoz5SType"/>
				<xs:attribute name="C3_13" type="IntPoz15SType"/>
				<xs:attribute name="C3_14" type="IntPoz15SType"/>
				<xs:attribute name="C3_21" type="IntPoz6SType"/>
				<xs:attribute name="C3_22" type="IntPoz5SType"/>
				<xs:attribute name="C3_23" type="IntPoz15SType"/>
				<xs:attribute name="C3_24" type="IntPoz15SType"/>
				<xs:attribute name="C3_31" type="IntPoz6SType"/>
				<xs:attribute name="C3_32" type="IntPoz5SType"/>
				<xs:attribute name="C3_33" type="IntPoz15SType"/>
				<xs:attribute name="C3_34" type="IntPoz15SType"/>
				<xs:attribute name="C3_41" type="IntPoz6SType"/>
				<xs:attribute name="C3_42" type="IntPoz5SType"/>
				<xs:attribute name="C3_43" type="IntPoz15SType"/>
				<xs:attribute name="C3_44" type="IntPoz15SType"/>
				<xs:attribute name="C3_total" type="IntPoz15SType"/>
				<xs:attribute name="C3_suma" type="IntPoz15SType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AngajatorC4Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="C4_baza" type="IntPoz15SType" use="required"/>
				<xs:attribute name="C4_ct" type="IntPoz15SType" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AngajatorC5Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="C5_baza" type="IntPoz15SType" use="required"/>
				<xs:attribute name="C5_ct" type="IntPoz15SType" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AngajatorDType">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="D2" type="IntPoz6SType" use="required"/>
				<xs:attribute name="D3" type="DblPoz5_2SType" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AngajatorE1Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="E1_venit" type="IntPoz15SType"/>
				<xs:attribute name="E1_baza" type="IntPoz15SType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AngajatorE2Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="E2_11" type="IntPoz6SType"/>
				<xs:attribute name="E2_12" type="IntPoz5SType"/>
				<xs:attribute name="E2_14" type="IntPoz5SType"/>
				<xs:attribute name="E2_16" type="IntPoz15SType"/>
				<xs:attribute name="E2_21" type="IntPoz6SType"/>
				<xs:attribute name="E2_22" type="IntPoz5SType"/>
				<xs:attribute name="E2_24" type="IntPoz5SType"/>
				<xs:attribute name="E2_26" type="IntPoz15SType"/>
				<xs:attribute name="E2_31" type="IntPoz6SType"/>
				<xs:attribute name="E2_32" type="IntPoz5SType"/>
				<xs:attribute name="E2_34" type="IntPoz5SType"/>
				<xs:attribute name="E2_36" type="IntPoz15SType"/>
				<xs:attribute name="E2_41" type="IntPoz6SType"/>
				<xs:attribute name="E2_42" type="IntPoz5SType"/>
				<xs:attribute name="E2_44" type="IntPoz5SType"/>
				<xs:attribute name="E2_46" type="IntPoz15SType"/>
				<xs:attribute name="E2_51" type="IntPoz6SType"/>
				<xs:attribute name="E2_52" type="IntPoz5SType"/>
				<xs:attribute name="E2_54" type="IntPoz5SType"/>
				<xs:attribute name="E2_56" type="IntPoz15SType"/>
				<xs:attribute name="E2_66" type="IntPoz15SType"/>
				<xs:attribute name="E2_10" type="IntPoz15SType"/>
				<xs:attribute name="E2_140" type="IntPoz15SType"/>
				<xs:attribute name="E2_111" type="IntPoz6SType"/>
				<xs:attribute name="E2_112" type="IntPoz5SType"/>				
				<xs:attribute name="E2_114" type="IntPoz5SType"/>				
				<xs:attribute name="E2_116" type="IntPoz15SType"/>
				<xs:attribute name="E2_211" type="IntPoz6SType"/>
				<xs:attribute name="E2_212" type="IntPoz5SType"/>				
				<xs:attribute name="E2_214" type="IntPoz5SType"/>
				<xs:attribute name="E2_216" type="IntPoz15SType"/>
				<xs:attribute name="E2_41a" type="IntPoz6SType"/>
				<xs:attribute name="E2_42a" type="IntPoz5SType"/>
				<xs:attribute name="E2_44a" type="IntPoz5SType"/>
				<xs:attribute name="E2_46a" type="IntPoz15SType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AngajatorE3Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="E3_11" type="IntPoz6SType"/>
				<xs:attribute name="E3_12" type="IntPoz5SType"/>
				<xs:attribute name="E3_13" type="IntPoz15SType"/>
				<xs:attribute name="E3_14" type="IntPoz15SType"/>
				<xs:attribute name="E3_21" type="IntPoz6SType"/>
				<xs:attribute name="E3_22" type="IntPoz5SType"/>
				<xs:attribute name="E3_23" type="IntPoz15SType"/>
				<xs:attribute name="E3_24" type="IntPoz15SType"/>
				<xs:attribute name="E3_31" type="IntPoz6SType"/>
				<xs:attribute name="E3_32" type="IntPoz5SType"/>
				<xs:attribute name="E3_33" type="IntPoz15SType"/>
				<xs:attribute name="E3_34" type="IntPoz15SType"/>
				<xs:attribute name="E3_41" type="IntPoz6SType"/>
				<xs:attribute name="E3_42" type="IntPoz5SType"/>
				<xs:attribute name="E3_43" type="IntPoz15SType"/>
				<xs:attribute name="E3_44" type="IntPoz15SType"/>
				<xs:attribute name="E3_total" type="IntPoz15SType"/>
				<xs:attribute name="E3_suma" type="IntPoz15SType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AngajatorE4Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="E4_aj_nr" type="IntPoz6SType" use="required"/>
				<xs:attribute name="E4_aj_suma" type="IntPoz15SType" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="GrupFGroup">
		<xs:sequence>
			<xs:element name="angajatorF1" type="AngajatorF1Type"/>
			<xs:element name="angajatorF2" type="AngajatorF2Type" minOccurs="0" maxOccurs="1000"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="AngajatorF1Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="F1_suma" type="IntPoz15SType"/>
				<xs:attribute name="F1_suma_ded" type="IntPoz15SType"/>
				<xs:attribute name="F1_suma_scut" type="IntPoz15SType"/>
				<xs:attribute name="F1_deplata" type="IntPoz15SType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AngajatorF2Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="F2_cif" type="CuiSType" use="required"/>
				<xs:attribute name="F2_id" type="IntPoz5SType" use="required"/>
				<xs:attribute name="F2_suma" type="IntPoz15SType" use="required"/>
				<xs:attribute name="F2_suma_ded" type="IntPoz15SType" use="required"/>
				<xs:attribute name="F2_suma_scut" type="IntPoz15SType" use="required"/>
				<xs:attribute name="F2_deplata" type="IntPoz15SType" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AngajatorGType">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="cnp_d" type="CnpSType" use="required"/>
				<xs:attribute name="den_d" type="Str50" use="required"/>
				<xs:attribute name="nr_act_d" type="Str50" use="required"/>
				<xs:attribute name="data_d" type="DateSType" use="required"/>
				<xs:attribute name="cnp_b" type="CnpSType" use="required"/>
				<xs:attribute name="den_b" type="Str50" use="required"/>
				<xs:attribute name="cuantum_d" type="IntPoz5SType" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AsiguratType">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:sequence>
					<xs:element name="det1" type="AsiguratDet1Type" minOccurs="0"
						maxOccurs="10"/>
					<xs:element name="coAsigurati" type="CoAsiguratiType" minOccurs="0"
						maxOccurs="3"/>
					<xs:group ref="GrupAsiguratGroup"/>
					<xs:group ref="GrupEGroup"/>
					<xs:element name="asiguratE4" type="AsiguratE4Type" minOccurs="0" maxOccurs="1"
					/>
				</xs:sequence>
				<xs:attribute name="idAsig" type="Str6" use="required"/>
				<xs:attribute name="cnpAsig" type="CnpSType" use="required"/>
				<xs:attribute name="numeAsig" type="Str75" use="required"/>
				<xs:attribute name="prenAsig" type="Str75" use="required"/>
				<xs:attribute name="cnpAnt" type="CnpSType"/>
				<xs:attribute name="numeAnt" type="Str75"/>
				<xs:attribute name="prenAnt" type="Str75"/>
				<xs:attribute name="dataAng" type="DateSType" use="required"/>
				<xs:attribute name="dataSf" type="DateSType"/>
				<xs:attribute name="casaSn" type="Str_casaAngListSType"/>
				<xs:attribute name="asigCI" type="IntInt1_2SType" use="required"/>
				<xs:attribute name="asigSO" type="IntInt1_2SType" use="required"/>
				<xs:attribute name="cisAsig" type="CnpSType"/>
				<xs:attribute name="asigScu" type="IntInt1_8SType"/>
				<xs:attribute name="asigExc" type="IntInt0_2SType"/>
				<xs:attribute name="Timp_E3" type="IntPoz15SType" use="required"/>
				<xs:attribute name="Tcota_E4" type="DblPoz4_2SType"/>
				<xs:attribute name="Tsuma_E4" type="IntPoz15SType"/>
				<xs:attribute name="plata_CAS" type="IntInt0_1SType"/>
				<xs:attribute name="plata_CASS" type="IntInt0_1SType"/>
				<xs:attribute name="plata_CAM" type="IntInt0_1SType"/>
				<xs:attribute name="bifa_plataNerezident" type="IntInt1_1SType"/>
				<xs:attribute name="bifa_pilon2" type="IntInt1_1SType"/>
				<xs:attribute name="motivExc" type="IntInt1_5SType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CoAsiguratiType">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="tip" type="Str_coAsigTypeSType" use="required"/>
				<xs:attribute name="cnp" type="CnpSType" use="required"/>
				<xs:attribute name="nume" type="Str75" use="required"/>
				<xs:attribute name="prenume" type="Str75" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="asiguratDet1">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="detasat" type="IntInt1_6SType"/>
				<xs:attribute name="cif_detasat" type="CifSType"/>
				<xs:attribute name="dataD1" type="DateSType"/>
				<xs:attribute name="dataD2" type="DateSType"/>
				<xs:attribute name="bifa_stat" type="IntInt1_2SType"/>
				<xs:attribute name="stat_detasat" type="Str2"/>
				<xs:attribute name="acord_stat" type="IntInt1_2SType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:group name="GrupAsiguratGroup">
		<xs:choice>
			<xs:group ref="GrupAGroup"/>
			<xs:group ref="GrupBGroup"/>
			<xs:group ref="GrupCGroup"/>
		</xs:choice>
	</xs:group>
	<xs:group name="GrupAGroup">
		<xs:sequence>
			<xs:element name="asiguratA" type="AsiguratAType"/>
			<xs:element name="asiguratA1" type="AsiguratA1Type" minOccurs="0"/>
			<xs:group ref="GrupCGroup" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="GrupBGroup">
		<xs:sequence>
			<xs:element name="asiguratB1" type="AsiguratB1Type" maxOccurs="5"/>
			<xs:element name="asiguratB2" type="AsiguratB2Type" minOccurs="0"/>
			<xs:element name="asiguratB3" type="AsiguratB3Type" minOccurs="0"/>
			<xs:element name="asiguratB4" type="AsiguratB4Type"/>
			<xs:element name="asiguratB41" type="AsiguratB41Type" minOccurs="0"/>
			<xs:element name="asiguratC" type="AsiguratCType" minOccurs="0" maxOccurs="10"/>
			<xs:element name="asiguratD" type="AsiguratDType" minOccurs="0" maxOccurs="10"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="GrupCGroup">
		<xs:sequence>
			<xs:element name="asiguratC" type="AsiguratCType"/>
			<xs:element name="asiguratD" type="AsiguratDType" minOccurs="0" maxOccurs="10"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="GrupEGroup">
		<xs:sequence>
			<xs:element name="asiguratE1" type="AsiguratE1Type" minOccurs="0"/>
			<xs:element name="asiguratE2" type="AsiguratE2Type" minOccurs="0"/>
			<xs:element name="asiguratE3" type="AsiguratE3Type" maxOccurs="20"/>

		</xs:sequence>
	</xs:group>
	<xs:complexType name="AsiguratAType">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="A_1" type="IntInt1_49SType" use="required"/>
				<xs:attribute name="A_2" type="IntInt0_1SType" use="required"/>
				<xs:attribute name="A_3" type="Str_contractTypeSType" use="required"/>
				<xs:attribute name="A_4" type="IntInt6_8SType" use="required"/>
				<xs:attribute name="A_5" type="IntPoz15SType"/>
				<xs:attribute name="A_6" type="IntPoz3SType"/>
				<xs:attribute name="A_7" type="IntPoz3SType"/>
				<xs:attribute name="A_8" type="IntPoz5SType"/>
				<xs:attribute name="A_9" type="IntPoz15SType"/>
				<xs:attribute name="A_11" type="IntPoz15SType" use="required"/>
				<xs:attribute name="A_12" type="IntPoz15SType" use="required"/>
				<xs:attribute name="A_13" type="IntPoz15SType" use="required"/>
				<xs:attribute name="A_14" type="IntPoz15SType" use="required"/>
				<xs:attribute name="A_sal1 type="IntPoz15SType" use="required"/>
				<xs:attribute name="A_sal2 type="IntPoz15SType" use="required"/>
				<xs:attribute name="A_11P" type="IntPoz15SType"/>
				<xs:attribute name="A_12P" type="IntPoz15SType"/>
				<xs:attribute name="A_13P" type="IntPoz15SType"/>
				<xs:attribute name="A_14P" type="IntPoz15SType"/>
				<xs:attribute name="A_12D" type="IntPoz15SType"/>
				<xs:attribute name="A_14D" type="IntPoz15SType"/>
				<xs:attribute name="A_13S" type="IntPoz15SType"/>
				<xs:attribute name="A_13C" type="IntPoz15SType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AsiguratA1Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="A_11i" type="IntPoz15SType" use="required"/>
				<xs:attribute name="A_12i" type="IntPoz15SType" use="required"/>
				<xs:attribute name="A_13i" type="IntPoz15SType" use="required"/>
				<xs:attribute name="A_14i" type="IntPoz15SType" use="required"/>
				<xs:attribute name="A_11f" type="IntPoz15SType" use="required"/>
				<xs:attribute name="A_12f" type="IntPoz15SType" use="required"/>
				<xs:attribute name="A_13f" type="IntPoz15SType" use="required"/>
				<xs:attribute name="A_14f" type="IntPoz15SType" use="required"/>
				<xs:attribute name="A_5i" type="IntPoz15SType" use="required"/>
				<xs:attribute name="A_5f" type="IntPoz15SType" use="required"/>
				<xs:attribute name="A_81" type="IntPoz15SType"/>
				<xs:attribute name="A_82" type="IntPoz15SType"/>
				<xs:attribute name="SalBrut_A" type="IntPoz15SType" use="required"/>
				<xs:attribute name="A_11iP" type="IntPoz15SType"/>
				<xs:attribute name="A_12iP" type="IntPoz15SType"/>
				<xs:attribute name="A_13iP" type="IntPoz15SType"/>
				<xs:attribute name="A_14iP" type="IntPoz15SType"/>
				<xs:attribute name="A_11fP" type="IntPoz15SType"/>
				<xs:attribute name="A_12fP" type="IntPoz15SType"/>
				<xs:attribute name="A_13fP" type="IntPoz15SType"/>
				<xs:attribute name="A_14fP" type="IntPoz15SType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AsiguratB1Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="B1_1" type="IntInt1_49SType" use="required"/>
				<xs:attribute name="B1_2" type="IntInt0_1SType" use="required"/>
				<xs:attribute name="B1_3" type="Str_contractTypeSType" use="required"/>
				<xs:attribute name="B1_4" type="IntInt6_8SType" use="required"/>
				<xs:attribute name="B1_5" type="IntPoz15SType"/>
				<xs:attribute name="B1_6" type="IntPoz3SType"/>
				<xs:attribute name="B1_7" type="IntPoz3SType"/>
				<xs:attribute name="B1_8" type="IntPoz3SType"/>
				<xs:attribute name="B1_9" type="IntPoz2SType"/>
				<xs:attribute name="B1_10" type="IntPoz15SType"/>
				<xs:attribute name="B1_15" type="IntPoz2SType"/>
				<xs:attribute name="B1_16" type="IntPoz2SType"/>
				<xs:attribute name="B1_17" type="IntPoz2SType"/>
				<xs:attribute name="B1_sal1 type="IntPoz15SType" use="required"/>
				<xs:attribute name="B1_sal2 type="IntPoz15SType" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AsiguratB2Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="B2_1" type="IntInt0_7SType"/>
				<xs:attribute name="B2_2" type="IntPoz2SType"/>
				<xs:attribute name="B2_3" type="IntPoz2SType"/>
				<xs:attribute name="B2_4" type="IntPoz2SType"/>
				<xs:attribute name="B2_5" type="IntPoz15SType"/>
				<xs:attribute name="B2_6" type="IntPoz15SType"/>
				<xs:attribute name="B2_7" type="IntPoz15SType"/>
				<xs:attribute name="B2_6i" type="IntPoz15SType"/>
				<xs:attribute name="B2_7i" type="IntPoz15SType"/>
				<xs:attribute name="B2_6f" type="IntPoz15SType"/>
				<xs:attribute name="B2_7f" type="IntPoz15SType"/>
				<xs:attribute name="B2_5P" type="IntPoz15SType"/>
				<xs:attribute name="B2_6P" type="IntPoz15SType"/>
				<xs:attribute name="B2_7P" type="IntPoz15SType"/>
				<xs:attribute name="B2_5C" type="IntPoz15SType"/>
				<xs:attribute name="B2_6C" type="IntPoz15SType"/>
				<xs:attribute name="B2_7C" type="IntPoz15SType"/>
				<xs:attribute name="B2_5S" type="IntPoz15SType"/>
				<xs:attribute name="B2_6S" type="IntPoz15SType"/>
				<xs:attribute name="B2_7S" type="IntPoz15SType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AsiguratB3Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="B3_1" type="IntPoz2SType"/>
				<xs:attribute name="B3_2" type="IntPoz2SType"/>
				<xs:attribute name="B3_3" type="IntPoz2SType"/>
				<xs:attribute name="B3_4" type="IntPoz2SType"/>
				<xs:attribute name="B3_5" type="IntPoz2SType"/>
				<xs:attribute name="B3_6" type="IntPoz2SType"/>
				<xs:attribute name="B3_7" type="IntPoz15SType"/>
				<xs:attribute name="B3_8" type="IntPoz2SType"/>
				<xs:attribute name="B3_9" type="IntPoz15SType"/>
				<xs:attribute name="B3_10" type="IntPoz15SType"/>
				<xs:attribute name="B3_11" type="IntPoz15SType"/>
				<xs:attribute name="B3_12" type="IntPoz15SType"/>
				<xs:attribute name="B3_13" type="IntPoz15SType"/>
				<xs:attribute name="B3_7S" type="IntPoz15SType"/>
				<xs:attribute name="B3_7C" type="IntPoz15SType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AsiguratB4Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="B4_1" type="IntPoz2SType"/>
				<xs:attribute name="B4_2" type="IntPoz2SType"/>
				<xs:attribute name="B4_3" type="IntPoz15SType"/>
				<xs:attribute name="B4_5" type="IntPoz15SType"/>
				<xs:attribute name="B4_6" type="IntPoz15SType"/>
				<xs:attribute name="B4_7" type="IntPoz15SType"/>
				<xs:attribute name="B4_8" type="IntPoz15SType"/>
				<xs:attribute name="B4_14" type="IntPoz15SType"/>
				<xs:attribute name="B4_17" type="IntPoz15SType"/>
				<xs:attribute name="B4_18" type="IntPoz15SType"/>
				<xs:attribute name="B4_19" type="IntPoz15SType"/>
				<xs:attribute name="B4_20" type="IntPoz15SType"/>
				<xs:attribute name="B4_21" type="IntPoz15SType"/>
				<xs:attribute name="B4_22" type="IntPoz15SType"/>
				<xs:attribute name="B4_23" type="IntPoz15SType"/>
				<xs:attribute name="B4_24" type="IntPoz15SType"/>
				<xs:attribute name="B4_25" type="IntPoz15SType"/>
				<xs:attribute name="B4_26" type="IntPoz15SType"/>
				<xs:attribute name="B4_27" type="IntPoz15SType"/>
				<xs:attribute name="B4_28" type="IntPoz15SType"/>
				<xs:attribute name="B4_29" type="IntPoz15SType"/>
				<xs:attribute name="B4_30" type="IntPoz15SType"/>
				<xs:attribute name="B4_5P" type="IntPoz15SType"/>
				<xs:attribute name="B4_6P" type="IntPoz15SType"/>
				<xs:attribute name="B4_7P" type="IntPoz15SType"/>
				<xs:attribute name="B4_8P" type="IntPoz15SType"/>
				<xs:attribute name="B4_6D" type="IntPoz15SType"/>
				<xs:attribute name="B4_8D" type="IntPoz15SType"/>
				<xs:attribute name="B4_7S" type="IntPoz15SType"/>
				<xs:attribute name="B4_7C" type="IntPoz15SType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AsiguratB41Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="B4_5i" type="IntPoz15SType" use="required"/>
				<xs:attribute name="B4_6i" type="IntPoz15SType" use="required"/>
				<xs:attribute name="B4_7i" type="IntPoz15SType" use="required"/>
				<xs:attribute name="B4_8i" type="IntPoz15SType" use="required"/>
				<xs:attribute name="B4_14i" type="IntPoz15SType" use="required"/>
				<xs:attribute name="B4_5f" type="IntPoz15SType" use="required"/>
				<xs:attribute name="B4_6f" type="IntPoz15SType" use="required"/>
				<xs:attribute name="B4_7f" type="IntPoz15SType" use="required"/>
				<xs:attribute name="B4_8f" type="IntPoz15SType" use="required"/>
				<xs:attribute name="B4_14f" type="IntPoz15SType" use="required"/>
				<xs:attribute name="B4_81" type="IntPoz15SType"/>
				<xs:attribute name="B4_82" type="IntPoz15SType"/>
				<xs:attribute name="SalBrut_B" type="IntPoz15SType" use="required"/>
				<xs:attribute name="B4_5iP" type="IntPoz15SType"/>
				<xs:attribute name="B4_6iP" type="IntPoz15SType"/>
				<xs:attribute name="B4_7iP" type="IntPoz15SType"/>
				<xs:attribute name="B4_8iP" type="IntPoz15SType"/>
				<xs:attribute name="B4_5fP" type="IntPoz15SType"/>
				<xs:attribute name="B4_6fP" type="IntPoz15SType"/>
				<xs:attribute name="B4_7fP" type="IntPoz15SType"/>
				<xs:attribute name="B4_8fP" type="IntPoz15SType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AsiguratCType">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="C_1" type="Int_asigTypeCSType" use="required"/>
				<xs:attribute name="C_2" type="IntPoz2SType"/>
				<xs:attribute name="C_3" type="IntPoz2SType"/>
				<xs:attribute name="C_4" type="IntPoz15SType"/>
				<xs:attribute name="C_5" type="IntPoz2SType"/>
				<xs:attribute name="C_8" type="IntPoz15SType"/>
				<xs:attribute name="C_9" type="IntPoz15SType"/>
				<xs:attribute name="C_10" type="IntPoz15SType"/>
				<xs:attribute name="C_11" type="IntPoz15SType"/>
				<xs:attribute name="C_17" type="IntPoz2SType"/>
				<xs:attribute name="C_18" type="IntPoz15SType"/>
				<xs:attribute name="C_19" type="IntPoz15SType"/>
				<xs:attribute name="C_20" type="IntPoz2SType"/>
				<xs:attribute name="C_21" type="IntPoz15SType"/>
				<xs:attribute name="C_22" type="IntPoz15SType"/>
				<xs:attribute name="C_23" type="IntPoz15SType"/>
				<xs:attribute name="C_24" type="IntPoz15SType"/>
				<xs:attribute name="C_25" type="IntPoz15SType"/>
				<xs:attribute name="C_26" type="IntPoz15SType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AsiguratDType">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="D_1" type="Str5" use="required"/>
				<xs:attribute name="D_2" type="Str10" use="required"/>
				<xs:attribute name="D_3" type="Str5"/>
				<xs:attribute name="D_4" type="Str10"/>
				<xs:attribute name="D_5" type="DateSType" use="required"/>
				<xs:attribute name="D_6" type="DateSType" use="required"/>
				<xs:attribute name="D_7" type="DateSType" use="required"/>
				<xs:attribute name="D_8" type="CnpSType"/>
				<xs:attribute name="D_9" type="Str_codBoalaSType" use="required"/>
				<xs:attribute name="D_10" type="IntInt1_4SType" use="required"/>
				<xs:attribute name="D_11" type="Str3"/>
				<xs:attribute name="D_12" type="Str2"/>
				<xs:attribute name="D_13" type="Str10"/>
				<xs:attribute name="D_14" type="IntPoz2SType" use="required"/>
				<xs:attribute name="D_15" type="IntPoz2SType" use="required"/>
				<xs:attribute name="D_16" type="IntPoz2SType" use="required"/>
				<xs:attribute name="D_17" type="IntPoz6SType" use="required"/>
				<xs:attribute name="D_18" type="IntPoz3SType" use="required"/>
				<xs:attribute name="D_19" type="DblPoz6_2SType" use="required"/>
				<xs:attribute name="D_20" type="IntPoz15SType" use="required"/>
				<xs:attribute name="D_21" type="IntPoz15SType" use="required"/>
				<xs:attribute name="D_23" type="Str3" use="required"/>
				<xs:attribute name="Data_CMI" type="DateSType"/>
				<xs:attribute name="D_8a" type="CnpSType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AsiguratE1Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="E1_1" type="IntPoz15SType" use="required"/>
				<xs:attribute name="E1_2" type="IntPoz15SType" use="required"/>
				<xs:attribute name="E1_3" type="IntPoz15SType" use="required"/>
				<xs:attribute name="E1_4" type="IntPoz15SType" use="required"/>
				<xs:attribute name="E1_5" type="IntPoz15SType" use="required"/>
				<xs:attribute name="E1_6" type="IntPoz15SType" use="required"/>
				<xs:attribute name="E1_7" type="IntPoz15SType" use="required"/>
				<xs:attribute name="E1_41" type="IntPoz15SType" use="required"/>
				<xs:attribute name="E1_42" type="IntPoz15SType" use="required"/>
				<xs:attribute name="E1_421" type="IntPoz15SType" use="required"/>
				<xs:attribute name="E1_422" type="IntPoz15SType" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AsiguratE2Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="E2_1" type="IntPoz15SType" use="required"/>
				<xs:attribute name="E2_2" type="IntPoz15SType" use="required"/>
				<xs:attribute name="E2_3" type="IntPoz15SType" use="required"/>
				<xs:attribute name="E2_4" type="IntPoz15SType" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AsiguratE3Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="E3_1" type="Str_E1" use="required"/>
				<xs:attribute name="E3_2" type="IntPoz3SType" use="required"/>
				<xs:attribute name="E3_3" type="IntInt1_3SType" use="required"/>
				<xs:attribute name="E3_4" type="Str_E4" use="required"/>
				<xs:attribute name="E3_5" type="Str7"/>
				<xs:attribute name="E3_6" type="Str7"/>
				<xs:attribute name="E3_7" type="Str_N1"/>
				<xs:attribute name="E3_8" type="IntPoz15SType" use="required"/>
				<xs:attribute name="E3_9" type="IntPoz15SType" use="required"/>
				<xs:attribute name="E3_10" type="IntPoz15SType"/>
				<xs:attribute name="E3_11" type="IntPoz15SType"/>
				<xs:attribute name="E3_12" type="IntPoz4SType"/>
				<xs:attribute name="E3_13" type="IntPoz15SType"/>
				<xs:attribute name="E3_14" type="IntPoz15SType" use="required"/>
				<xs:attribute name="E3_15" type="IntPoz15SType" use="required"/>
				<xs:attribute name="E3_16" type="IntPoz15SType" use="required"/>
				<xs:attribute name="E3_18" type="IntPoz15SType"/>
				<xs:attribute name="E3_19" type="IntPoz15SType" use="required"/>
				<xs:attribute name="E3_20" type="IntPoz15SType"/>
				<xs:attribute name="E3_21" type="IntPoz15SType" use="required"/>
				<xs:attribute name="E3_22" type="IntPoz15SType"/>
				<xs:attribute name="E3_23" type="IntPoz15SType"/>
				<xs:attribute name="E3_33" type="IntPoz15SType"/>
				<xs:attribute name="E3_34" type="IntPoz15SType"/>
				<xs:attribute name="E3_35" type="IntPoz15SType"/>
				<xs:attribute name="E3_36" type="IntPoz15SType"/>
				<xs:attribute name="E3_31" type="IntPoz15SType"/>
				<xs:attribute name="E3_32" type="IntPoz15SType"/>
				<xs:attribute name="E3_24" type="IntPoz15SType"/>
				<xs:attribute name="E3_25" type="IntPoz15SType"/>
				<xs:attribute name="E3_26" type="IntPoz15SType"/>
				<xs:attribute name="E3_27" type="IntPoz15SType"/>
				<xs:attribute name="E3_28" type="IntPoz15SType"/>
				<xs:attribute name="E3_29" type="IntPoz15SType"/>
				<xs:attribute name="E3_30" type="IntPoz15SType"/>
				<xs:attribute name="E3_37" type="Str7"/>
				<xs:attribute name="E3_38" type="IntPoz15SType"/>
				<xs:attribute name="E3_39" type="IntPoz15SType"/>
				<xs:attribute name="E3_40" type="IntPoz15SType"/>
				<xs:attribute name="E3_41" type="IntPoz15SType"/>
				<xs:attribute name="E3_42" type="IntPoz15SType"/>
				<xs:attribute name="E3_43" type="IntPoz15SType"/>
				<xs:attribute name="E3_44" type="IntPoz15SType"/>
				<xs:attribute name="E3_45" type="IntPoz15SType"/>
				<xs:attribute name="E3_46" type="IntPoz15SType"/>
				<xs:attribute name="E3_47" type="IntPoz15SType"/>
				<xs:attribute name="E3_48" type="IntPoz15SType"/>
				<xs:attribute name="E3_49" type="IntPoz15SType"/>
				<xs:attribute name="E3_50" type="IntPoz15SType"/>
				<xs:attribute name="E3_51" type="IntPoz15SType"/>
				<xs:attribute name="E3_52" type="IntPoz15SType"/>
				<xs:attribute name="E3_53" type="IntPoz15SType"/>
				<xs:attribute name="E3_54" type="IntPoz15SType"/>
				<xs:attribute name="E3_55" type="IntPoz15SType"/>
				<xs:attribute name="E3_56" type="IntPoz15SType"/>
				<xs:attribute name="E3_57" type="IntPoz15SType"/>
				<xs:attribute name="E3_58" type="IntPoz15SType"/>
				<xs:attribute name="E3_59" type="IntPoz15SType"/>
				<xs:attribute name="E3_60" type="IntPoz15SType"/>
				<xs:attribute name="E3_61" type="IntPoz15SType"/>
				<xs:attribute name="E3_62" type="IntPoz15SType"/>
				<xs:attribute name="E3_63" type="IntPoz15SType"/>
				<xs:attribute name="E3_64" type="IntPoz15SType"/>
				<xs:attribute name="E3_65" type="IntPoz15SType"/>
				<xs:attribute name="E3_66" type="IntPoz15SType"/>
				<xs:attribute name="E3_67" type="IntPoz15SType"/>
				<xs:attribute name="E3_68" type="IntPoz15SType"/>
				<xs:attribute name="E3_69" type="IntPoz15SType"/>
				<xs:attribute name="E3_70" type="IntPoz15SType"/>
				<xs:attribute name="E3_71" type="IntPoz15SType"/>
				<xs:attribute name="E3_72" type="IntPoz15SType"/>
				<xs:attribute name="E3_73" type="IntPoz15SType"/>
				<xs:attribute name="E3_74" type="IntPoz15SType"/>
				<xs:attribute name="E3_75" type="IntPoz15SType"/>
				<xs:attribute name="E3_76" type="IntPoz15SType"/>
				<xs:attribute name="E3_77" type="IntPoz15SType"/>
				<xs:attribute name="E3_78" type="IntPoz15SType"/>
				<xs:attribute name="E3_79" type="IntPoz15SType"/>
				<xs:attribute name="E3_121" type="IntPoz15SType"/>
				<xs:attribute name="E3_122" type="IntPoz15SType"/>
				<xs:attribute name="E3_1221" type="IntPoz15SType"/>
				<xs:attribute name="E3_1222" type="IntPoz15SType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AsiguratE4Type">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="nr_ctr" type="Str30"/>
				<xs:attribute name="data_ctr" type="DateSType"/>
				<xs:attribute name="cui" type="CifSType"/>
				<xs:attribute name="den" type="Str50"/>
				<xs:attribute name="cota" type="IntInt1_2SType" use="required"/>
				<xs:attribute name="suma" type="IntPoz15SType" use="required"/>
				<xs:attribute name="cota_ctr" type="DblPoz4_2SType"/>
				<xs:attribute name="suma_ctr" type="IntPoz15SType"/>
				<xs:attribute name="cnp_ctr" type="CnpSType"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="IntInt1_12SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt1_5SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt0_2SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt1_22SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="22"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt1_49SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="49"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt2011_2100SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="2011"/>
			<xs:maxInclusive value="2100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt0_1SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt1_3SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str75">
		<xs:restriction base="xs:string">
			<xs:maxLength value="75"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str30">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CifSType">
		<xs:restriction base="xs:token">
			<xs:pattern value="[1-9]\d{12}|[1-9]\d{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str14">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str4">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str7">
		<xs:restriction base="xs:string">
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Str_caenListConstrType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
			<xs:enumeration value="2312"/>
			<xs:enumeration value="2331"/>
			<xs:enumeration value="2332"/>
			<xs:enumeration value="2361"/>
			<xs:enumeration value="2362"/>
			<xs:enumeration value="2363"/>
			<xs:enumeration value="2364"/>
			<xs:enumeration value="2369"/>
			<xs:enumeration value="2370"/>
			<xs:enumeration value="2223"/>
			<xs:enumeration value="1623"/>
			<xs:enumeration value="2512"/>
			<xs:enumeration value="2511"/>
			<xs:enumeration value="0811"/>
			<xs:enumeration value="0812"/>
			<xs:enumeration value="4110"/>
			<xs:enumeration value="4120"/>
			<xs:enumeration value="4211"/>
			<xs:enumeration value="4212"/>
			<xs:enumeration value="4213"/>
			<xs:enumeration value="4221"/>
			<xs:enumeration value="4222"/>
			<xs:enumeration value="4291"/>
			<xs:enumeration value="4299"/>
			<xs:enumeration value="4311"/>
			<xs:enumeration value="4312"/>
			<xs:enumeration value="4313"/>
			<xs:enumeration value="4321"/>
			<xs:enumeration value="4322"/>
			<xs:enumeration value="4329"/>
			<xs:enumeration value="4331"/>
			<xs:enumeration value="4332"/>
			<xs:enumeration value="4333"/>
			<xs:enumeration value="4334"/>
			<xs:enumeration value="4339"/>
			<xs:enumeration value="4391"/>
			<xs:enumeration value="4399"/>
			<xs:enumeration value="7111"/>
			<xs:enumeration value="7112"/>
			<xs:enumeration value="2351"/>
			<xs:enumeration value="2352"/>
			<xs:enumeration value="2399"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_caenListSType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
			<xs:enumeration value="0111"/>
			<xs:enumeration value="0112"/>
			<xs:enumeration value="0113"/>
			<xs:enumeration value="0114"/>
			<xs:enumeration value="0115"/>
			<xs:enumeration value="0116"/>
			<xs:enumeration value="0119"/>
			<xs:enumeration value="0121"/>
			<xs:enumeration value="0122"/>
			<xs:enumeration value="0123"/>
			<xs:enumeration value="0124"/>
			<xs:enumeration value="0125"/>
			<xs:enumeration value="0126"/>
			<xs:enumeration value="0127"/>
			<xs:enumeration value="0128"/>
			<xs:enumeration value="0129"/>
			<xs:enumeration value="0130"/>
			<xs:enumeration value="0141"/>
			<xs:enumeration value="0142"/>
			<xs:enumeration value="0143"/>
			<xs:enumeration value="0144"/>
			<xs:enumeration value="0145"/>
			<xs:enumeration value="0146"/>
			<xs:enumeration value="0147"/>
			<xs:enumeration value="0149"/>
			<xs:enumeration value="0150"/>
			<xs:enumeration value="0161"/>
			<xs:enumeration value="0162"/>
			<xs:enumeration value="0163"/>
			<xs:enumeration value="0164"/>
			<xs:enumeration value="0170"/>
			<xs:enumeration value="0210"/>
			<xs:enumeration value="0220"/>
			<xs:enumeration value="0230"/>
			<xs:enumeration value="0240"/>
			<xs:enumeration value="0311"/>
			<xs:enumeration value="0312"/>
			<xs:enumeration value="0321"/>
			<xs:enumeration value="0322"/>
			<xs:enumeration value="0510"/>
			<xs:enumeration value="0520"/>
			<xs:enumeration value="0610"/>
			<xs:enumeration value="0620"/>
			<xs:enumeration value="0710"/>
			<xs:enumeration value="0721"/>
			<xs:enumeration value="0729"/>
			<xs:enumeration value="0811"/>
			<xs:enumeration value="0812"/>
			<xs:enumeration value="0891"/>
			<xs:enumeration value="0892"/>
			<xs:enumeration value="0893"/>
			<xs:enumeration value="0899"/>
			<xs:enumeration value="0910"/>
			<xs:enumeration value="0990"/>
			<xs:enumeration value="1011"/>
			<xs:enumeration value="1012"/>
			<xs:enumeration value="1013"/>
			<xs:enumeration value="1020"/>
			<xs:enumeration value="1031"/>
			<xs:enumeration value="1032"/>
			<xs:enumeration value="1039"/>
			<xs:enumeration value="1041"/>
			<xs:enumeration value="1042"/>
			<xs:enumeration value="1051"/>
			<xs:enumeration value="1052"/>
			<xs:enumeration value="1061"/>
			<xs:enumeration value="1062"/>
			<xs:enumeration value="1071"/>
			<xs:enumeration value="1072"/>
			<xs:enumeration value="1073"/>
			<xs:enumeration value="1081"/>
			<xs:enumeration value="1082"/>
			<xs:enumeration value="1083"/>
			<xs:enumeration value="1084"/>
			<xs:enumeration value="1085"/>
			<xs:enumeration value="1086"/>
			<xs:enumeration value="1089"/>
			<xs:enumeration value="1091"/>
			<xs:enumeration value="1092"/>
			<xs:enumeration value="1101"/>
			<xs:enumeration value="1102"/>
			<xs:enumeration value="1103"/>
			<xs:enumeration value="1104"/>
			<xs:enumeration value="1105"/>
			<xs:enumeration value="1106"/>
			<xs:enumeration value="1107"/>
			<xs:enumeration value="1200"/>
			<xs:enumeration value="1310"/>
			<xs:enumeration value="1320"/>
			<xs:enumeration value="1330"/>
			<xs:enumeration value="1391"/>
			<xs:enumeration value="1392"/>
			<xs:enumeration value="1393"/>
			<xs:enumeration value="1394"/>
			<xs:enumeration value="1395"/>
			<xs:enumeration value="1396"/>
			<xs:enumeration value="1399"/>
			<xs:enumeration value="1411"/>
			<xs:enumeration value="1412"/>
			<xs:enumeration value="1413"/>
			<xs:enumeration value="1414"/>
			<xs:enumeration value="1419"/>
			<xs:enumeration value="1420"/>
			<xs:enumeration value="1431"/>
			<xs:enumeration value="1439"/>
			<xs:enumeration value="1511"/>
			<xs:enumeration value="1512"/>
			<xs:enumeration value="1520"/>
			<xs:enumeration value="1610"/>
			<xs:enumeration value="1621"/>
			<xs:enumeration value="1622"/>
			<xs:enumeration value="1623"/>
			<xs:enumeration value="1624"/>
			<xs:enumeration value="1629"/>
			<xs:enumeration value="1711"/>
			<xs:enumeration value="1712"/>
			<xs:enumeration value="1721"/>
			<xs:enumeration value="1722"/>
			<xs:enumeration value="1723"/>
			<xs:enumeration value="1724"/>
			<xs:enumeration value="1729"/>
			<xs:enumeration value="1811"/>
			<xs:enumeration value="1812"/>
			<xs:enumeration value="1813"/>
			<xs:enumeration value="1814"/>
			<xs:enumeration value="1820"/>
			<xs:enumeration value="1910"/>
			<xs:enumeration value="1920"/>
			<xs:enumeration value="2011"/>
			<xs:enumeration value="2012"/>
			<xs:enumeration value="2013"/>
			<xs:enumeration value="2014"/>
			<xs:enumeration value="2015"/>
			<xs:enumeration value="2016"/>
			<xs:enumeration value="2017"/>
			<xs:enumeration value="2020"/>
			<xs:enumeration value="2030"/>
			<xs:enumeration value="2041"/>
			<xs:enumeration value="2042"/>
			<xs:enumeration value="2051"/>
			<xs:enumeration value="2052"/>
			<xs:enumeration value="2053"/>
			<xs:enumeration value="2059"/>
			<xs:enumeration value="2060"/>
			<xs:enumeration value="2110"/>
			<xs:enumeration value="2120"/>
			<xs:enumeration value="2211"/>
			<xs:enumeration value="2219"/>
			<xs:enumeration value="2221"/>
			<xs:enumeration value="2222"/>
			<xs:enumeration value="2223"/>
			<xs:enumeration value="2229"/>
			<xs:enumeration value="2311"/>
			<xs:enumeration value="2312"/>
			<xs:enumeration value="2313"/>
			<xs:enumeration value="2314"/>
			<xs:enumeration value="2319"/>
			<xs:enumeration value="2320"/>
			<xs:enumeration value="2331"/>
			<xs:enumeration value="2332"/>
			<xs:enumeration value="2341"/>
			<xs:enumeration value="2342"/>
			<xs:enumeration value="2343"/>
			<xs:enumeration value="2344"/>
			<xs:enumeration value="2349"/>
			<xs:enumeration value="2351"/>
			<xs:enumeration value="2352"/>
			<xs:enumeration value="2361"/>
			<xs:enumeration value="2362"/>
			<xs:enumeration value="2363"/>
			<xs:enumeration value="2364"/>
			<xs:enumeration value="2365"/>
			<xs:enumeration value="2369"/>
			<xs:enumeration value="2370"/>
			<xs:enumeration value="2391"/>
			<xs:enumeration value="2399"/>
			<xs:enumeration value="2410"/>
			<xs:enumeration value="2420"/>
			<xs:enumeration value="2431"/>
			<xs:enumeration value="2432"/>
			<xs:enumeration value="2433"/>
			<xs:enumeration value="2434"/>
			<xs:enumeration value="2441"/>
			<xs:enumeration value="2442"/>
			<xs:enumeration value="2443"/>
			<xs:enumeration value="2444"/>
			<xs:enumeration value="2445"/>
			<xs:enumeration value="2446"/>
			<xs:enumeration value="2451"/>
			<xs:enumeration value="2452"/>
			<xs:enumeration value="2453"/>
			<xs:enumeration value="2454"/>
			<xs:enumeration value="2511"/>
			<xs:enumeration value="2512"/>
			<xs:enumeration value="2521"/>
			<xs:enumeration value="2529"/>
			<xs:enumeration value="2530"/>
			<xs:enumeration value="2540"/>
			<xs:enumeration value="2550"/>
			<xs:enumeration value="2561"/>
			<xs:enumeration value="2562"/>
			<xs:enumeration value="2571"/>
			<xs:enumeration value="2572"/>
			<xs:enumeration value="2573"/>
			<xs:enumeration value="2591"/>
			<xs:enumeration value="2592"/>
			<xs:enumeration value="2593"/>
			<xs:enumeration value="2594"/>
			<xs:enumeration value="2599"/>
			<xs:enumeration value="2611"/>
			<xs:enumeration value="2612"/>
			<xs:enumeration value="2620"/>
			<xs:enumeration value="2630"/>
			<xs:enumeration value="2640"/>
			<xs:enumeration value="2651"/>
			<xs:enumeration value="2652"/>
			<xs:enumeration value="2660"/>
			<xs:enumeration value="2670"/>
			<xs:enumeration value="2680"/>
			<xs:enumeration value="2711"/>
			<xs:enumeration value="2712"/>
			<xs:enumeration value="2720"/>
			<xs:enumeration value="2731"/>
			<xs:enumeration value="2732"/>
			<xs:enumeration value="2733"/>
			<xs:enumeration value="2740"/>
			<xs:enumeration value="2751"/>
			<xs:enumeration value="2752"/>
			<xs:enumeration value="2790"/>
			<xs:enumeration value="2811"/>
			<xs:enumeration value="2812"/>
			<xs:enumeration value="2813"/>
			<xs:enumeration value="2814"/>
			<xs:enumeration value="2815"/>
			<xs:enumeration value="2821"/>
			<xs:enumeration value="2822"/>
			<xs:enumeration value="2823"/>
			<xs:enumeration value="2824"/>
			<xs:enumeration value="2825"/>
			<xs:enumeration value="2829"/>
			<xs:enumeration value="2830"/>
			<xs:enumeration value="2841"/>
			<xs:enumeration value="2849"/>
			<xs:enumeration value="2891"/>
			<xs:enumeration value="2892"/>
			<xs:enumeration value="2893"/>
			<xs:enumeration value="2894"/>
			<xs:enumeration value="2895"/>
			<xs:enumeration value="2896"/>
			<xs:enumeration value="2899"/>
			<xs:enumeration value="2910"/>
			<xs:enumeration value="2920"/>
			<xs:enumeration value="2931"/>
			<xs:enumeration value="2932"/>
			<xs:enumeration value="3011"/>
			<xs:enumeration value="3012"/>
			<xs:enumeration value="3020"/>
			<xs:enumeration value="3030"/>
			<xs:enumeration value="3040"/>
			<xs:enumeration value="3091"/>
			<xs:enumeration value="3092"/>
			<xs:enumeration value="3099"/>
			<xs:enumeration value="3101"/>
			<xs:enumeration value="3102"/>
			<xs:enumeration value="3103"/>
			<xs:enumeration value="3109"/>
			<xs:enumeration value="3211"/>
			<xs:enumeration value="3212"/>
			<xs:enumeration value="3213"/>
			<xs:enumeration value="3220"/>
			<xs:enumeration value="3230"/>
			<xs:enumeration value="3240"/>
			<xs:enumeration value="3250"/>
			<xs:enumeration value="3291"/>
			<xs:enumeration value="3299"/>
			<xs:enumeration value="3311"/>
			<xs:enumeration value="3312"/>
			<xs:enumeration value="3313"/>
			<xs:enumeration value="3314"/>
			<xs:enumeration value="3315"/>
			<xs:enumeration value="3316"/>
			<xs:enumeration value="3317"/>
			<xs:enumeration value="3319"/>
			<xs:enumeration value="3320"/>
			<xs:enumeration value="3511"/>
			<xs:enumeration value="3512"/>
			<xs:enumeration value="3513"/>
			<xs:enumeration value="3514"/>
			<xs:enumeration value="3521"/>
			<xs:enumeration value="3522"/>
			<xs:enumeration value="3523"/>
			<xs:enumeration value="3530"/>
			<xs:enumeration value="3600"/>
			<xs:enumeration value="3700"/>
			<xs:enumeration value="3811"/>
			<xs:enumeration value="3812"/>
			<xs:enumeration value="3821"/>
			<xs:enumeration value="3822"/>
			<xs:enumeration value="3831"/>
			<xs:enumeration value="3832"/>
			<xs:enumeration value="3900"/>
			<xs:enumeration value="4110"/>
			<xs:enumeration value="4120"/>
			<xs:enumeration value="4211"/>
			<xs:enumeration value="4212"/>
			<xs:enumeration value="4213"/>
			<xs:enumeration value="4221"/>
			<xs:enumeration value="4222"/>
			<xs:enumeration value="4291"/>
			<xs:enumeration value="4299"/>
			<xs:enumeration value="4311"/>
			<xs:enumeration value="4312"/>
			<xs:enumeration value="4313"/>
			<xs:enumeration value="4321"/>
			<xs:enumeration value="4322"/>
			<xs:enumeration value="4329"/>
			<xs:enumeration value="4331"/>
			<xs:enumeration value="4332"/>
			<xs:enumeration value="4333"/>
			<xs:enumeration value="4334"/>
			<xs:enumeration value="4339"/>
			<xs:enumeration value="4391"/>
			<xs:enumeration value="4399"/>
			<xs:enumeration value="4511"/>
			<xs:enumeration value="4519"/>
			<xs:enumeration value="4520"/>
			<xs:enumeration value="4531"/>
			<xs:enumeration value="4532"/>
			<xs:enumeration value="4540"/>
			<xs:enumeration value="4611"/>
			<xs:enumeration value="4612"/>
			<xs:enumeration value="4613"/>
			<xs:enumeration value="4614"/>
			<xs:enumeration value="4615"/>
			<xs:enumeration value="4616"/>
			<xs:enumeration value="4617"/>
			<xs:enumeration value="4618"/>
			<xs:enumeration value="4619"/>
			<xs:enumeration value="4621"/>
			<xs:enumeration value="4622"/>
			<xs:enumeration value="4623"/>
			<xs:enumeration value="4624"/>
			<xs:enumeration value="4631"/>
			<xs:enumeration value="4632"/>
			<xs:enumeration value="4633"/>
			<xs:enumeration value="4634"/>
			<xs:enumeration value="4635"/>
			<xs:enumeration value="4636"/>
			<xs:enumeration value="4637"/>
			<xs:enumeration value="4638"/>
			<xs:enumeration value="4639"/>
			<xs:enumeration value="4641"/>
			<xs:enumeration value="4642"/>
			<xs:enumeration value="4643"/>
			<xs:enumeration value="4644"/>
			<xs:enumeration value="4645"/>
			<xs:enumeration value="4646"/>
			<xs:enumeration value="4647"/>
			<xs:enumeration value="4648"/>
			<xs:enumeration value="4649"/>
			<xs:enumeration value="4651"/>
			<xs:enumeration value="4652"/>
			<xs:enumeration value="4661"/>
			<xs:enumeration value="4662"/>
			<xs:enumeration value="4663"/>
			<xs:enumeration value="4664"/>
			<xs:enumeration value="4665"/>
			<xs:enumeration value="4666"/>
			<xs:enumeration value="4669"/>
			<xs:enumeration value="4671"/>
			<xs:enumeration value="4672"/>
			<xs:enumeration value="4673"/>
			<xs:enumeration value="4674"/>
			<xs:enumeration value="4675"/>
			<xs:enumeration value="4676"/>
			<xs:enumeration value="4677"/>
			<xs:enumeration value="4690"/>
			<xs:enumeration value="4711"/>
			<xs:enumeration value="4719"/>
			<xs:enumeration value="4721"/>
			<xs:enumeration value="4722"/>
			<xs:enumeration value="4723"/>
			<xs:enumeration value="4724"/>
			<xs:enumeration value="4725"/>
			<xs:enumeration value="4726"/>
			<xs:enumeration value="4729"/>
			<xs:enumeration value="4730"/>
			<xs:enumeration value="4741"/>
			<xs:enumeration value="4742"/>
			<xs:enumeration value="4743"/>
			<xs:enumeration value="4751"/>
			<xs:enumeration value="4752"/>
			<xs:enumeration value="4753"/>
			<xs:enumeration value="4754"/>
			<xs:enumeration value="4759"/>
			<xs:enumeration value="4761"/>
			<xs:enumeration value="4762"/>
			<xs:enumeration value="4763"/>
			<xs:enumeration value="4764"/>
			<xs:enumeration value="4765"/>
			<xs:enumeration value="4771"/>
			<xs:enumeration value="4772"/>
			<xs:enumeration value="4773"/>
			<xs:enumeration value="4774"/>
			<xs:enumeration value="4775"/>
			<xs:enumeration value="4776"/>
			<xs:enumeration value="4777"/>
			<xs:enumeration value="4778"/>
			<xs:enumeration value="4779"/>
			<xs:enumeration value="4781"/>
			<xs:enumeration value="4782"/>
			<xs:enumeration value="4789"/>
			<xs:enumeration value="4791"/>
			<xs:enumeration value="4799"/>
			<xs:enumeration value="4910"/>
			<xs:enumeration value="4920"/>
			<xs:enumeration value="4931"/>
			<xs:enumeration value="4932"/>
			<xs:enumeration value="4939"/>
			<xs:enumeration value="4941"/>
			<xs:enumeration value="4942"/>
			<xs:enumeration value="4950"/>
			<xs:enumeration value="5010"/>
			<xs:enumeration value="5020"/>
			<xs:enumeration value="5030"/>
			<xs:enumeration value="5040"/>
			<xs:enumeration value="5110"/>
			<xs:enumeration value="5121"/>
			<xs:enumeration value="5210"/>
			<xs:enumeration value="5221"/>
			<xs:enumeration value="5222"/>
			<xs:enumeration value="5223"/>
			<xs:enumeration value="5224"/>
			<xs:enumeration value="5229"/>
			<xs:enumeration value="5310"/>
			<xs:enumeration value="5320"/>
			<xs:enumeration value="5510"/>
			<xs:enumeration value="5520"/>
			<xs:enumeration value="5530"/>
			<xs:enumeration value="5590"/>
			<xs:enumeration value="5610"/>
			<xs:enumeration value="5621"/>
			<xs:enumeration value="5629"/>
			<xs:enumeration value="5630"/>
			<xs:enumeration value="5811"/>
			<xs:enumeration value="5812"/>
			<xs:enumeration value="5813"/>
			<xs:enumeration value="5814"/>
			<xs:enumeration value="5819"/>
			<xs:enumeration value="5821"/>
			<xs:enumeration value="5829"/>
			<xs:enumeration value="5911"/>
			<xs:enumeration value="5912"/>
			<xs:enumeration value="5913"/>
			<xs:enumeration value="5914"/>
			<xs:enumeration value="5920"/>
			<xs:enumeration value="6010"/>
			<xs:enumeration value="6020"/>
			<xs:enumeration value="6110"/>
			<xs:enumeration value="6120"/>
			<xs:enumeration value="6130"/>
			<xs:enumeration value="6190"/>
			<xs:enumeration value="6201"/>
			<xs:enumeration value="6202"/>
			<xs:enumeration value="6203"/>
			<xs:enumeration value="6209"/>
			<xs:enumeration value="6311"/>
			<xs:enumeration value="6312"/>
			<xs:enumeration value="6391"/>
			<xs:enumeration value="6399"/>
			<xs:enumeration value="6411"/>
			<xs:enumeration value="6419"/>
			<xs:enumeration value="6420"/>
			<xs:enumeration value="6430"/>
			<xs:enumeration value="6491"/>
			<xs:enumeration value="6492"/>
			<xs:enumeration value="6499"/>
			<xs:enumeration value="6511"/>
			<xs:enumeration value="6512"/>
			<xs:enumeration value="6520"/>
			<xs:enumeration value="6530"/>
			<xs:enumeration value="6611"/>
			<xs:enumeration value="6612"/>
			<xs:enumeration value="6619"/>
			<xs:enumeration value="6621"/>
			<xs:enumeration value="6622"/>
			<xs:enumeration value="6629"/>
			<xs:enumeration value="6630"/>
			<xs:enumeration value="6810"/>
			<xs:enumeration value="6820"/>
			<xs:enumeration value="6831"/>
			<xs:enumeration value="6832"/>
			<xs:enumeration value="6910"/>
			<xs:enumeration value="6920"/>
			<xs:enumeration value="7010"/>
			<xs:enumeration value="7021"/>
			<xs:enumeration value="7022"/>
			<xs:enumeration value="7111"/>
			<xs:enumeration value="7112"/>
			<xs:enumeration value="7120"/>
			<xs:enumeration value="7211"/>
			<xs:enumeration value="7219"/>
			<xs:enumeration value="7220"/>
			<xs:enumeration value="7311"/>
			<xs:enumeration value="7312"/>
			<xs:enumeration value="7320"/>
			<xs:enumeration value="7410"/>
			<xs:enumeration value="7420"/>
			<xs:enumeration value="7430"/>
			<xs:enumeration value="7490"/>
			<xs:enumeration value="7500"/>
			<xs:enumeration value="7711"/>
			<xs:enumeration value="7712"/>
			<xs:enumeration value="7721"/>
			<xs:enumeration value="7722"/>
			<xs:enumeration value="7729"/>
			<xs:enumeration value="7731"/>
			<xs:enumeration value="7732"/>
			<xs:enumeration value="7733"/>
			<xs:enumeration value="7734"/>
			<xs:enumeration value="7735"/>
			<xs:enumeration value="7739"/>
			<xs:enumeration value="7740"/>
			<xs:enumeration value="7810"/>
			<xs:enumeration value="7820"/>
			<xs:enumeration value="7830"/>
			<xs:enumeration value="7911"/>
			<xs:enumeration value="7912"/>
			<xs:enumeration value="7990"/>
			<xs:enumeration value="8010"/>
			<xs:enumeration value="8020"/>
			<xs:enumeration value="8030"/>
			<xs:enumeration value="8110"/>
			<xs:enumeration value="8121"/>
			<xs:enumeration value="8122"/>
			<xs:enumeration value="8129"/>
			<xs:enumeration value="8130"/>
			<xs:enumeration value="8211"/>
			<xs:enumeration value="8219"/>
			<xs:enumeration value="8220"/>
			<xs:enumeration value="8230"/>
			<xs:enumeration value="8291"/>
			<xs:enumeration value="8292"/>
			<xs:enumeration value="8299"/>
			<xs:enumeration value="8411"/>
			<xs:enumeration value="8412"/>
			<xs:enumeration value="8413"/>
			<xs:enumeration value="8421"/>
			<xs:enumeration value="8423"/>
			<xs:enumeration value="8424"/>
			<xs:enumeration value="8425"/>
			<xs:enumeration value="8430"/>
			<xs:enumeration value="8510"/>
			<xs:enumeration value="8520"/>
			<xs:enumeration value="8531"/>
			<xs:enumeration value="8532"/>
			<xs:enumeration value="8541"/>
			<xs:enumeration value="8542"/>
			<xs:enumeration value="8551"/>
			<xs:enumeration value="8552"/>
			<xs:enumeration value="8553"/>
			<xs:enumeration value="8559"/>
			<xs:enumeration value="8560"/>
			<xs:enumeration value="8610"/>
			<xs:enumeration value="8621"/>
			<xs:enumeration value="8622"/>
			<xs:enumeration value="8623"/>
			<xs:enumeration value="8690"/>
			<xs:enumeration value="8710"/>
			<xs:enumeration value="8720"/>
			<xs:enumeration value="8730"/>
			<xs:enumeration value="8790"/>
			<xs:enumeration value="8810"/>
			<xs:enumeration value="8891"/>
			<xs:enumeration value="8899"/>
			<xs:enumeration value="9001"/>
			<xs:enumeration value="9002"/>
			<xs:enumeration value="9003"/>
			<xs:enumeration value="9004"/>
			<xs:enumeration value="9101"/>
			<xs:enumeration value="9102"/>
			<xs:enumeration value="9103"/>
			<xs:enumeration value="9104"/>
			<xs:enumeration value="9200"/>
			<xs:enumeration value="9311"/>
			<xs:enumeration value="9312"/>
			<xs:enumeration value="9313"/>
			<xs:enumeration value="9319"/>
			<xs:enumeration value="9321"/>
			<xs:enumeration value="9329"/>
			<xs:enumeration value="9411"/>
			<xs:enumeration value="9412"/>
			<xs:enumeration value="9420"/>
			<xs:enumeration value="9491"/>
			<xs:enumeration value="9492"/>
			<xs:enumeration value="9499"/>
			<xs:enumeration value="9511"/>
			<xs:enumeration value="9512"/>
			<xs:enumeration value="9521"/>
			<xs:enumeration value="9522"/>
			<xs:enumeration value="9523"/>
			<xs:enumeration value="9524"/>
			<xs:enumeration value="9525"/>
			<xs:enumeration value="9529"/>
			<xs:enumeration value="9601"/>
			<xs:enumeration value="9602"/>
			<xs:enumeration value="9603"/>
			<xs:enumeration value="9604"/>
			<xs:enumeration value="9609"/>
			<xs:enumeration value="9700"/>
			<xs:enumeration value="9900"/>
			<xs:enumeration value="8422"/>
			<xs:enumeration value="5122"/>
			<xs:enumeration value="9810"/>
			<xs:enumeration value="9820"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str200">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str1000">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str15">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_casaAngListSType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="_B"/>
			<xs:enumeration value="_A"/>
			<xs:enumeration value="_T"/>
			<xs:enumeration value="AB"/>
			<xs:enumeration value="AR"/>
			<xs:enumeration value="AG"/>
			<xs:enumeration value="BC"/>
			<xs:enumeration value="BH"/>
			<xs:enumeration value="BN"/>
			<xs:enumeration value="BT"/>
			<xs:enumeration value="BV"/>
			<xs:enumeration value="BR"/>
			<xs:enumeration value="BZ"/>
			<xs:enumeration value="CS"/>
			<xs:enumeration value="CJ"/>
			<xs:enumeration value="CT"/>
			<xs:enumeration value="CV"/>
			<xs:enumeration value="CL"/>
			<xs:enumeration value="DB"/>
			<xs:enumeration value="DJ"/>
			<xs:enumeration value="GL"/>
			<xs:enumeration value="GR"/>
			<xs:enumeration value="GJ"/>
			<xs:enumeration value="HR"/>
			<xs:enumeration value="HD"/>
			<xs:enumeration value="IL"/>
			<xs:enumeration value="IS"/>
			<xs:enumeration value="IF"/>
			<xs:enumeration value="MM"/>
			<xs:enumeration value="MH"/>
			<xs:enumeration value="MS"/>
			<xs:enumeration value="NT"/>
			<xs:enumeration value="OT"/>
			<xs:enumeration value="PH"/>
			<xs:enumeration value="SM"/>
			<xs:enumeration value="SJ"/>
			<xs:enumeration value="SB"/>
			<xs:enumeration value="SV"/>
			<xs:enumeration value="TR"/>
			<xs:enumeration value="TM"/>
			<xs:enumeration value="TL"/>
			<xs:enumeration value="VS"/>
			<xs:enumeration value="VL"/>
			<xs:enumeration value="VN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DblPoz1_3SType">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0."/>
			<xs:pattern value="\d{0,1}(\.\d{0,3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntPoz15SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_A_codBugetarListSType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:enumeration value="20470101XX"/>
			<xs:enumeration value="5502XXXXXX"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_A_cod_obligListSType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:enumeration value="602"/>
			<xs:enumeration value="412"/>
			<xs:enumeration value="432"/>
			<xs:enumeration value="441"/>
			<xs:enumeration value="611"/>
			<xs:enumeration value="451"/>
			<xs:enumeration value="461"/>
			<xs:enumeration value="464"/>
			<xs:enumeration value="623"/>
			<xs:enumeration value="469"/>
			<xs:enumeration value="619"/>
			<xs:enumeration value="471"/>
			<xs:enumeration value="622"/>
			<xs:enumeration value="480"/>
			<xs:enumeration value="481"/>
			<xs:enumeration value="482"/>
			<xs:enumeration value="624"/>
			<xs:enumeration value="473"/>
			<xs:enumeration value="474"/>
			<xs:enumeration value="625"/>
			<xs:enumeration value="483"/>
			<xs:enumeration value="484"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntPoz6SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntPoz5SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt1_10SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt1_1SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DblPoz5_2SType">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0."/>
			<xs:pattern value="\d{0,5}(\.\d{0,2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CuiSType">
		<xs:restriction base="xs:token">
			<xs:pattern value="[1-9]\d{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str6">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CnpSType">
		<xs:restriction base="xs:token">
			<xs:pattern value="[1-9]\d{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateSType">
		<xs:restriction base="xs:token">
			<xs:pattern value="([1-9]|0[1-9]|[12][0-9]|3[01])\.([1-9]|0[1-9]|1[012])\.\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt1_2SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_coAsigTypeSType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="S"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt1_7SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_contractTypeSType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="P1"/>
			<xs:enumeration value="P2"/>
			<xs:enumeration value="P3"/>
			<xs:enumeration value="P4"/>
			<xs:enumeration value="P5"/>
			<xs:enumeration value="P6"/>
			<xs:enumeration value="P7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt6_8SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="6"/>
			<xs:maxInclusive value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntPoz3SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntPoz4SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntPoz2SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt2_3SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="2"/>
			<xs:maxInclusive value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt0_7SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt1_8SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt1_6SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Int_asigTypeCSType">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="28"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str5">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str10">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_codBoalaSType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntInt1_4SType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str2">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DblPoz6_2SType">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0."/>
			<xs:pattern value="\d{0,6}(\.\d{0,2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DblPoz4_2SType">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0."/>
			<xs:pattern value="\d{0,4}(\.\d{0,2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_N1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="10"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="40"/>
			<xs:enumeration value="50"/>
			<xs:enumeration value="60"/>
			<xs:enumeration value="70"/>
			<xs:enumeration value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_E1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="C"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Str_E4">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A"/>
			<xs:enumeration value="P"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
